<div class="col-md-12 col-sm-12">
<%= form_for(@user, :html => { :class => 'validate clearfix' }) do |f| %>
              <div class="form-group">
                    <%= f.label :email_address, :email_address.to_s.titleize %>
            <%= f.text_field :email_address,
            :data => jquery_validation(User.validators_on(:email_address)),
            class: 'form-control input-lg' %>
                </div>
                <div class="form-group">
            <%= f.label :password, :password.to_s.titleize %>
            <%= f.password_field :password,
                :data => jquery_validation(User.validators_on(:password)),
                class: 'form-control input-lg',
                placeholder: action_name == 'edit' ? '(Enter a new password to change)' : '' %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation, 'Confirm Password' %>
            <%= f.password_field :password_confirmation,
                :data => { :'rule-equalTo' => '#user_password', :'msg-equalTo' => 'Password and confirm password must match' },
                class: 'form-control input-lg' %>
        </div>
        <div class="form-group button-row text-right">
        <%= link_to 'Cancel', users_url, class: 'btn btn-link btn-lg' %>
        <%= f.submit 'Save', class: 'btn btn-default btn-lg' %>
    </div>
<% end %>
</div>