<h2 class="clearfix">
    <div class="pull-left">
        <%= link_to '<i class="fa fa-plus fa-2x"></i>'.html_safe, new_record_path, data: { action: 'new', controller: controller_name }, class: 'btn btn-link' %>
    </div>
    <span><%= controller_name.classify.pluralize %></span>
    <form action='' method='get' class='form-inline search pull-right'>
        <%= text_field_tag :search, nil, class: 'form-control', value: @search %>
        <%= button_tag '<i class="fa fa-search fa-lg"></i>'.html_safe, class: 'btn btn-link', type: 'submit', name: '' %>
    </form>
</h2>


<div class="row-fluid">

    <table class="table table-striped">
        <thead>
        <tr>
            <% @list_columns.each do |column_name| -%>
                <%= sortable(column_name, column_name.titleize) %>
            <% end %>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <% @records.each do |record| %>
            <tr data-id="<%= record.id %>">
            <% @list_columns.each do |column_name| %>
                <td><%= record.send(column_name) %></td>
            <% end %>
                <td class="actions text-right">
                    <ul class="list-unstyled list-inline">
                        <li><%= link_to '<i class="fa fa-search fa-lg"></i>'.html_safe, record, data: { action: 'show', controller: controller_name }, class: 'btn btn-link' %></li>
                        <li><%= link_to '<i class="fa fa-pencil fa-lg"></i>'.html_safe, edit_record_path(record), data: { action: 'edit', controller: controller_name }, class: 'btn btn-link' %></li>
                        <li><%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, record, method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-link' %></li>
                    </ul>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <div class="row-fluid">
        <div class="pagination pull-right">
            <div class="btn-group">
                <%= link_to '<i class="fa fa-chevron-left"></i>'.html_safe, params.merge(:page => @page.to_i - 1), class: @page.to_i == 1 ? 'btn btn-default disabled' : 'btn btn-default' %>
                <% (1..@num_pages).each do |p| %>
                    <%= link_to p, params.merge(:page => p), class: @page.to_i == p ? 'btn btn-primary' : 'btn btn-default' %>
                <% end %>
                <%= link_to '<i class="fa fa-chevron-right"></i>'.html_safe, params.merge(:page => @page.to_i + 1), class: @page.to_i == @num_pages.to_i || @records.count == 0 ? 'btn btn-default disabled' : 'btn btn-default' %>
            </div>
        </div>
    </div>

</div>
