<div class="login clearfix col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="col-md-12">
    <h2><span>Login</span></h2>
    <% if flash[:auth] %>
    <div class="alert alert-danger">
      <h4><%= flash[:auth] %></h4>
      <%= 'Those credentials match none of our logins.' if flash[:auth] == 'Login Failed' %>
      <%= 'You must log in to access that page.' if flash[:auth] == 'Access Denied' %>
    </div>
    <% end %>
    <%= form_tag login_path, class: 'validate' do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group">
          <%= text_field_tag :email_address, nil, class: 'form-control input-lg', placeholder: 'Email Address', :data => {
                  :'rule-required' => 'true',
                  :'msg-required' => 'Email address is required',
                  :'rule-email' => 'true',
                  :'msg-email' => 'Email address must be valid'
          } %>
        </div>
        <div class="form-group">
          <%= password_field_tag :password, nil, class: 'form-control input-lg', placeholder: 'Password', :data => {
                  :'rule-required' => 'true',
                  :'msg-required' => 'Password is required'
          } %>
        </div>
        <div class="button-row">
          <div class="pull-left">
            <ul class="list-unstyled">
              <li>Don't have a login?<br><%= link_to "Get Instant Access", join_path, class: 'primary' %></li>
            </ul>
          </div>
          <%= submit_tag('Go', class: 'btn btn-success pull-right btn-lg') %>
        </div>
    <% end %>
  </div>
</div>