<nav class="navbar navbar-inverse">
    <div class="container">
        <a href="/" class="navbar-brand"><%= APP_NAME %></a>
        <% unless controller_name == 'login' %>
        <ul class="nav navbar-nav navbar-right">
          <li<%= ' class="active"'.html_safe if action_name == 'home' %>><%= link_to 'Home', :home %></li>
          <% if current_user.admin? %>
              <li<%= ' class="active"'.html_safe if controller_name == 'users' && action_name != 'home' %>><%= link_to 'Users', users_path %></li>
          <% end %>
          <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit Your Login', edit_user_path(current_user), id: "edit_user_#{current_user.id}", data: { action: 'edit', controller: controller_name } %></li>
              <li><%= link_to 'Your Account', current_user, id: "show_user_#{current_user.id}", data: { action: 'show', controller: controller_name } %></li>
            </ul>
          </li>
        </ul>
        <% end %>
    </div>
</nav>
